<div id="username-page" *ngIf="!connected">
  <div class="username-page-container">
    <h1 class="title">Type your username</h1>
    <form id="usernameForm" name="usernameForm" (submit)="connect($event)">
      <div class="form-group">
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Username" autocomplete="off" class="form-control"/>
      </div>
      <div class="form-group">
        <button type="submit" class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>

<div id="chat-page" *ngIf="connected">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Spring WebSocket Chat Demo</h2>
    </div>
    <div class="connecting" *ngIf="connecting">
      Connecting...
    </div>
    <ul id="messageArea" #messageArea>
      <li *ngFor="let message of messages" [ngClass]="message.messageClass">
        <i *ngIf="message.type === 'CHAT'" [ngStyle]="{'background-color': getAvatarColor(message.sender)}">{{message.sender[0]}}</i>
        <span *ngIf="message.type === 'CHAT'">{{message.sender}}</span>
        <p>{{message.content}}</p>
      </li>
    </ul>
    <form id="messageForm" name="messageForm" (submit)="sendMessage($event)">
      <div class="form-group">
        <div class="input-group clearfix">
          <input type="text" id="message" name="message" [(ngModel)]="messageContent" placeholder="Type a message..." autocomplete="off" class="form-control"/>
          <button type="submit" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
